.datVe {
  color: white;

  .section-ghe {
    .gheNumber {
      font-size: 25px;

      thead {
        th {
          padding-left: 15px;
          padding-bottom: 15px;
          color: yellow;
          .soGhe {
            margin-left: 25px;
          }
        }
      }

      tbody {
        .chuHangGhe {
          td {
            padding-bottom: 10px;
          }
        }

        .soHangGhe {
          td {
            padding-bottom: 10px;
          }
          .soGhe {
            margin-left: 25px;
          }
        }
      }
    }
  }
}
