.datVe {
  color: white;

  .section-ghe {
    .gheNumber {
      padding-left: 45px;
      .soGhe {
        &:nth-child(n - 1) {
          margin-right: 20px;
        }
      }

      tr {
        &:nth-child(2) {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
